.ul,
.section {
  width: var(--body-width);
  margin: auto;
  margin-bottom: 200px;
}
.section blockquote {
  font-style: italic;
}
.section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 100px;
}
.section h4 {
  margin-bottom: 20px;
}
.section p {
  margin-bottom: 50px;
}
